<!DOCTYPE html>
<html ng-app="AspNetNgApp" ng-controller="LandingPageController">
<head>
    <title ng-bind="models.helloAngular"></title>
</head>
<body>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
    @Scripts.Render("~/bundles/AspNetNg")
</body>
</html>